{% extends "base.html" %}
{% load static %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="container mx-auto text-center mt-12">
    <h1 class="text-4xl font-bold mb-8">A Little Bit About Me</h1>
    <p class="text-lg mt-4">
        Hi, I'm Samarth Vohra! I'm originally from <span class="font-semibold">Jacksonville, FL</span>. 
        I graduated from <span class="font-semibold">the University of Central Florida (UCF)</span>, 
        where I pursued my passion for technology and innovation.
    </p>
    <p class="text-lg mt-6">
        Outside of work, I love spending time with my <span class="font-semibold">dog</span>. 
        I'm also a passionate <span class="font-semibold">drummer</span> and a huge fan of all kinds of music.
    </p>
    <p class="text-lg mt-6">
        Whether I'm coding, playing the drums, or hanging out with my dog, I enjoy being creative and sharing my work with others.
    </p>

    <!-- Images Section -->
    <div class="flex flex-col lg:flex-row justify-center items-center mt-12">
        <!-- Dog Picture -->
        <div class="w-full lg:w-1/2 text-center" style="margin-right: 40px;">
            <img src="{% static 'img/archie.jpg' %}" alt="My Dog" style="width: 300px; height: auto;" class="rounded-lg shadow-lg">
        </div>
        <!-- Drums Picture -->
        <div class="w-full lg:w-1/2 text-center" style="margin-left: 40px;">
            <img src="{% static 'img/marching-band.JPG' %}" alt="Playing Drums" style="width: 300px; height: auto;" class="rounded-lg shadow-lg">
        </div>
    </div>
</div>
{% endblock %}
