{% extends "base.html" %}
{% load static %}

{% block title %}Home | Portfolio{% endblock %}

{% block content %}
<div class="bg-gray-50 min-h-screen">
    <!-- Hero Section -->
    <section class="container mx-auto flex flex-col lg:flex-row items-center mt-12">
        <div class="lg:w-1/2 flex justify-center">
            <img src="{% static 'img/headshot.jpeg' %}" alt="Samarth Vohra" class="rounded-lg shadow-lg max-w-full h-auto">
        </div>
        <div class="lg:w-1/2 text-center lg:text-left" style="margin-left: 120px;">
            <h2 class="text-2xl lg:text-4xl font-extrabold mb-4">Hello, my name is Samarth</h2>
            <p class="text-4xl lg:text-2xl font-semibold mb-4">I like making things.</p>
            <p class="text-gray-700 mb-4">I'm a software and technology enthusiast based in Orlando, FL.</p>
        </div>
    </section>

    <section id="tech" class="container mx-auto text-center mt-12">
        <!-- Increased Margin Below Heading -->
        <h3 class="text-3xl font-bold" style="margin-bottom: 25px;">Tech I Love</h3>
        <div class="flex justify-center gap-8">
            <div><img src="{% static 'img/python.svg' %}" alt="Python" style="width: 65px; height: 65px;"></div>
            <div><img src="{% static 'img/javascript.png' %}" alt="JavaScript" style="width: 65px; height: 65px;"></div>
            <div><img src="{% static 'img/react.png' %}" alt="React" style="width: 65px; height: 65px;"></div>
            <div><img src="{% static 'img/docker.png' %}" alt="Docker" style="width: 65px; height: 65px;"></div>
            <div><img src="{% static 'img/git.png' %}" alt="Git" style="width: 65px; height: 65px;"></div>
            <div><img src="{% static 'img/linux.png' %}" alt="Linux" style="width: 65px; height: 65px;"></div>
        </div>
    </section>
    
    
    
    
    
</div>
{% endblock %}
